<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../stylesheets/descriptiveProductDetailsPage.css">
   
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
          >
            <a
              href="/"
              class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
            >
              <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
              <use xlink:href="#bootstrap"></use>
            </svg> -->
            </a>
  
            <ul
              class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
              id="navbarlogo"
            >
              <li><img src="images/logo/logo-no-background.png" alt="" /></li>
              <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
              <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
              <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>
  
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input
                type="search"
                class="form-control form-control-dark"
                placeholder="Search..."
                aria-label="Search"
              />
            </form>
  
            <div class="text-end">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#pageLoginModel"
                onclick="loadSelectedPage('Login')"
              >
                Login
              </button>
  
              <button
                type="button"
                class="btn btn-warning"
                onclick="loadSelectedPage('signup')"
              >
                Sign-up
              </button>
            </div>
          </div>
        </div>
      </header>


        <div class="sideImages">
            <div class="sideImage1"> <img src="../images/shoes/mainShoe1.jpg" alt=""> </div>
            <div class="sideImage2"> <img src="../images/shoes/shoe1.jpg" alt=""></div>
            <div class="sideImage3"><img src="../images/shoes/shoe2.jpg" alt="">  </div>
            <div class="sideImage4"> <img src="../images/shoes/shoe3.jpg" alt=""></div>
            <div class="sideImage5"> <img src="../images/shoes/shoe4.jpg" alt=""></div>
            <div class="sideImage6"> <img src="../images/shoes/shoe5.jpg" alt=""></div>
            <div class="sideImage7"> <img src="../images/shoes/shoe2.jpg" alt=""></div>
        </div>

        <div class="mainImage">
            <img src="../images/shoes/mainShoe.jpg" alt="">
        </div>

        <div class="box1">
            <div class="b1"> Visit the Puma Store </div> 
            
            <div class="b2"> <b>Puma Womens Camo Wn S Idp Shoes </b></div> 
            <div class="b3"> <span class="b3-1"> <b>4.5</b></span> 
                <div class="fullstar5">
                    <div class="fullstar"></div>
                    <div class="fullstar"></div>
                    <div class="fullstar"></div>
                    <div class="fullstar"></div>
                    <div class="halfstar"></div>
                
                </div>
             <span class="b3-2">  712 Ratings | Search this page </span>
             </div>
             <div class="b4"> Amazon's <span class="b4-1"> choice</span> </div>
             <span class="b4-2"> for  "<span class="b4-3"> Sportswear </span>" <hr> </span>
             <div class="b5"> Ugadhi Sale</div>
             <div class="b5-1"> -20%  <span class="b5-2"> ₹</span>
             <span class="b5-3"> 3,200</span></div>
             <div class="b6"> M.R.P: <span class="b6-1"> 4,000/- </span></div>
             <div class="b7">Inclusive of all taxes</div>
                 <div class="b7-1">EMI starts at ₹130 per month. </div>
             <div class="b8">coupon</div>
                 <span class="b8-1"> <input type="checkbox" >Apply 5% coupon</span>
                 <span class="b8-2"> Terms </span><hr>
             <div class="b9"> %</div>
                  <span class="b9-1"> <b> Offers </b></span>
                 <div class="b9-2"></div>
                 <div id="b9-3"  class="bi bi-truck">
                 <span class="b9-4"><i class="fa-solid fa-rotate-left"></i></span>
                 <span class="b9-5"> <i class="fa-brands fa-amazon-pay"></i></span>
                 <span class="b9-6"><i class="fa-solid fa-trophy"></i></span>
             </div>
             <div class="b10">Free Delivery</div>
                 <span class="b10-1"> 10 days return & exchange</span>
                 <span class="b10-2"> Amazon pay</span>
                 <span class="b10-3"> Top brand</span>
 
             <div class="b11"></div>
             <div class="b12">  <b> Product details </b><br>
                                 Material type : only pure Silver <br>
                                 Metal type : Silver <br>
                                 Clasp type :Lobster Claw  <br>
                                 Gem typeNo :  gemstone  <br>
                                 Gemstone color: green & white  <br>
                                 Chain typeBox : India  <br>
                                 Country of Origin: India
             </div>
             <div class="b13">
                 <div class="b13-1"><span class="b13-2"> <b> ₹ 3,200</b></span></div>
             </div>
             <div class="b14"> Free Delivery <span class="b14-1"> <b>Saturday, 20 January.</b> Details
                 Or fastest delivery <b>Tomorrow, 18 January.</b> Order within 4 hrs 45 mins. Details</span></div>
                 <div class="b15"> In stock <span class="b15-1">  Sold by Puma stores and Delivered by Amazon.</span>
                     <div class="b16">  <select style="width: 120px; height: 20px;"> 
                                             <option selected> Quantity:1</option>
                                              <option> 2</option>
                                             <option > 3</option>
                                             <option > 4</option>
                                             <option > 5</option>
                                             <option > 6</option>
                                             </select>   
                     </div>
 
                     <div class="b17"> Add to Cart</div>
                     <div class="b17-1"> Buy now</div>
                     <div class="b17-2"> <i class="fa-solid fa-lock"></i>  Secure Transmission</div>
                     <div class="b18"><input type="checkbox"> Add gift options</div>
                     <div class="b19"> <input type="submit" value="Add to wishlist" style="width: 180px;height: 30px;position: absolute;top: 280px; border-radius: 5px; border: 1px transparent;"> </div>
                   
         </div>
         
         



</body>
</html>